	<div class="container">
			<div class="content">
				<section>		
					<h2>View campaigns</h2>

						<ul class="Campaigns">
							<li class="list-group-item"><%= link_to "Campaigns" , campaigns_path %></li>
						</ul>
				</section>
				<section>
					<h2>JSON format</h2>
						<ul class="Campaigns">
							<li class="list-group-item"><%= link_to "Campaigns" , campaigns_path + ".json" %></li>
						</ul>
				</section>
			</div>

		</div>
