	<div class="container">
			<div class="content">
				<h2>View campaigns</h2>

					<ul class="Campaigns">
						<li class="list-group-item"><%= link_to "Campaigns" , campaigns_path %></li>
					</ul>

				<h2>JSON format</h2>

					<ul class="Campaigns">
						<li class="list-group-item"><%= link_to "Campaigns" , campaigns_path %></li>
					</ul>

			</div>

		</div>
