<!DOCTYPE html>
<html>
	<link rel="stylesheet" media="all" href="/assets/stylesheet-8be34a9b3c1fc1e3463ac0f5ae3c92f9.css?body=1" />
	<body>
		<div class="container">
			<div class="content">
				<header><img src="/assets/brandnew_logo.png"/></header>

				<h2>View campaigns</h2>

					<ul class="Campaigns">
						<li class="list-group-item"><%= link_to "Campaigns" , campaigns_path %></li>
						<li class="list-group-item"><%= link_to "Bookings" , bookings_path %></li>
					</ul>

				<h2>JSON format</h2>

					<ul class="Campaigns">
						<li class="list-group-item"><%= link_to "Campaigns" , campaigns_path + ".json" %></li>
						<li class="list-group-item"><%= link_to "Bookings" , bookings_path %></li>
					</ul>

			</div>

		</div>
	</body>
</html>
