	<div class="container">
			<div class="content">
				<section>
					<div class="jumbotron", class="col-xs-6 col-md-3">
						<h1>View campaigns</h1>

							<ul class="Campaigns">
								<li class="list-group-item", class="thumbnail"><%= link_to "GO" , campaigns_path, class: "btn btn-primary btn-lg btn-block" %></li>
							</ul>
					</div>
				</section>
				<section>
					<div class="jumbotron", class="col-xs-6 col-md-3">
						<h1>JSON format</h1>
							<ul class="Campaigns">
								<li class="list-group-item", class="thumbnail"><%= link_to "GO" , campaigns_path + ".json", class: "btn btn-primary btn-lg btn-block" %></li>
							</ul>
					</div>
				</section>
			</div>
		</div>
