<div class="container">
	<div class="content">
		<h1>Bookings</h1>


    <% @bookings.each do |c|  %>
    <ul class="campaigns">
      <li class="list-group-item"><%= link_to c.social_media_profile_id, booking_path(c.id) %> <br /></li>
    </ul>
    <% end %>
  </div>
  <%= will_paginate @bookings %>
</div>
