.container {
	width: 1170px;
}

/*body {
	background-image: url('/assets/backgroundimg.jpg');
}*/

header {
	padding: 20px 0 20px 100px;
	height: 100px;
	background-color: #2C4267;
	border-bottom: 5px solid black;
}

h1 {
	color: black;
}

li {
	list-style: none;
	width: 50%;
  	font: 200 16px/1.5 Helvetica, Verdana, sans-serif;
  	border-bottom: 1px solid #ccc;
}

li a:hover {
  font-size: 16px;
  background: #f6f6f6;
}

.dropdown {
	padding-bottom: 10px;
}

li .dropdown-menu {
	font-size: 8px;
}

.content {
	padding-left: 40px;
}