.container {
	width: 1170px;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

/*body {
	background-image: url('/assets/backgroundimg.jpg');
}*/

header {
	padding: 20px 0 20px 100px;
	height: 100px;
	background-color: #2C4267;
	border-bottom: 5px solid black;
}

h1 {
	color: black;
}

li {
	list-style: none;
	width: 50%;
  	font: 200 16px/1.5 Helvetica, Verdana, sans-serif;
  	border-bottom: 1px solid #ccc;
}

li a:hover {
  font-size: 16px;
  background: #f6f6f6;
}

.dropdown {
	padding-bottom: 10px;
}

li .dropdown-menu {
	font-size: 8px;
}

.content {
	padding-left: 40px;
}

.singlecampaign {
	background-image: url('campaignbackground.jpg') ;
	background-repeat: no-repeat;
	color: white;
	width: 800px;
	height: 600px;
	

}


li .campaignbutton {

   background: #2c4267;
   border:2px solid white;
   opacity: 0.5;
   color:red;
   font-size: 18px;
   text-transform: uppercase;
   font-family: Lato, Helvetica, Arial, sans-serif;
   border-radius:4px;
   transition: color 0.3s ease-out;
   text-align:center;
   display: inline-block;

  

   margin-bottom:10px;
   
   float:left; 
    
    }



}

.bookings {
  left: 450px;
  position: relative;
  top: 313px;
  }



.description {
	width: 344px;
	height: 490px;
	position: relative;
	top: 120px;
	left: 450px;
	background-color: rgba(255, 255, 255, .5);
	text-align:center;

}





.contentdiv  {
  width:100%;
  height:100%;
  	background-image: url('bgbig.jpg') ;
	background-repeat: no-repeat;
	position:absolute;
  

}
