h1 {color:red}

.css {}



.campaignlist {color: Black !important;font-size:24px; font-family:Georgia; padding:10px; border:1px dashed red; text-align:center; list-style-type:none; margin-bottom:10px	}

li a {color:black}

li {width:40%; left: 50%}
li:nth-child(odd) {
    background: lightgrey;
}
li:nth-child(even) {
    background: white;
}
